{% extends 'excaliburclient/base.html' %}
{% load static %}
{% block content %}
<!-- main-login-area-start -->
<div class="main-login-area login-res-v3 logres-bg-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
	<div class="main-content">
	  <h3>Welcome! <br>
	    Please Create your account</h3>
	  <p class="email-linking">
	  </p>
	  <form action="/signup/" method="post" class="customer-input" onsubmit="return checkForm(this);">
        {% if messages %}
            {% for message in messages %}
            <code>
                <div class="alert text-center {{ message.tags }}" role="alert">
                    <h4 style="color: #e83e8c" class="text-center">Errors:</h4><br>
                    <p id="errors">{{ message }}</p>
                </div>
            </code>
            {% endfor %}
            <br><br><br>
        {% endif %}
	    {% csrf_token %}
	    <div class="row">
	      <div class="col-lg-6 col-md-6">
		<input name="first_name" type="text" placeholder="First Name" required="required">
	      </div>
	      <div class="col-lg-6 col-md-6">
		<input name="username" type="text" placeholder="Username" required="required">
	      </div>
	      <div class="col-lg-6 col-md-6">
		<input name="email" type="email" placeholder="Email address" required="required">
	      </div>
	      <div class="col-lg-6 col-md-6">
		<input name="password" type="password" placeholder="Choose password" required="required">
	      </div>
	    </div>
	    <div class="forgot-pass">
	  <button type="submit" class="login-res-btn">Register</button>
	  <div class="create-account">
	    <p>Already a member yet? <a href="/login/">Login account</a> here.</p>
	  </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
  <div class="login-anim-wrap">
    <div class="login-anim-1 custom-animation11"><img src="/img/login-icon/05.png" alt=""></div>
    <div class="login-anim-2 custom-animation"><img src="/img/login-icon/3.png" alt=""></div>
    <div class="login-anim-3 custom-animation11"><img src="/img/login-icon/04.png" alt=""></div>
    <div class="login-anim-9 custom-animation10"><img src="/img/login-icon/06.png" alt=""></div>
    <div class="login-anim-7 custom-animation"><img src="/img/login-icon/07.png" alt=""></div>
    <div class="login-anim-8 custom-animation10"><img src="/img/login-icon/1.png" alt=""></div>
    <div class="login-anim-10 custom-animation11"><img src="/img/login-icon/02.png" alt=""></div>
  </div>
</div>
<!-- main-login-area-end -->
{% endblock content %}
